html, body {
    height: 100%;
}

#firstRow{
    display: flex;
    flex-wrap: wrap;
    height: 10%;
}

#green{
    width: 80%;
    background-color: green;
}

#bleu{
    width: 20%;
    background-color: blue;
}

#secondRow{
    display: flex;
    flex-wrap: wrap;
    height: 20%;
}

#red{
    width: 34%;
    background-color: red;
}

#others{
    display: flex;
    flex-wrap: wrap;
    width: 66%;
}

#orange{
    width: 50%;
    height: 50%;
    background-color: orange;
}

#grey{
    width: 50%;
    height: 50%;
    background-color: grey;
}

#thirdRow {
    display: flex;
    flex-wrap: wrap;
    height: 30%;
}

#yellow{
    width: 33%;
    height: 50%;
    background-color: yellow;
}

#light-blue{
    width: 34%;
    height: 50%;
    background-color: lightblue;
}

#dark-orange{
    width: 33%;
    height: 50%;
    background-color: darkorange;
}

#dark-blue{
    width: 100%;
    background-color: darkblue;
}